<h2>This is Project Coyote!</h2>

<div class="row">
    <div class="col-md-3">
        <a href="/disaster"><h3>Disasters</h3></a>

        <a href='/disaster/list'>List Disasters</a><br>
        <a href='/disaster/new'>Enter New Disaster</a><br>
    </div>

    <div class="col-md-3">
        <a href="/resource"><h3>Resources</h3></a>

        <a href='/resource/list'>List Resources</a><br>
        <a href='/resource'>Enter Resource info here</a><br>
    </div>

    <div class="col-md-3">
        <a href="/donation"><h3>Donation</h3></a>

    </div>

    <div class="col-md-3">
        <a href="/donor"><h3>Donor</h3></a>

        <a href='/donor/list'>List Donors</a><br>
        <a href='/donor'>Enter Donors here</a>
    </div>
</div>
<br>
<br>



