
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">This is Project Coyote!</h3>
                    <p class="card-text lead">
                        The blockchain-based solution for coordinating and tracking donations for natural disasters.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-5">

            <div class="card">
                <div class="card-header">
                    Welcome, {{userName}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">My Organization(s)</h5>
                    <p class="card-text">
                        {{#each organizations}}
                        <a href="/organization/{{this.oid}}">{{this.name}}</a>
                        {{/each}}
                    </p>
                    <h5 class="card-title">My Disasters</h5>
                    <p class="card-text">
                        <a href="">Test Disaster</a>
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-7">

            <div class="card">
                <h4 class="card-header">
                    <a href="/disaster/list">Disasters</a>
                    <button class="btn btn-sm btn-warning" onclick="indexNav.createDisaster()">Create New</button>
                </h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Type
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Country
                        </th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each disasters}}
                    <tr>
                        <td><a href='/disaster/detail/{{disasterID}}'>{{type}}</a></td>
                        <td>{{city}}</td>
                        <td>{{country}}</td>
                        <td><a href="/disaster/detail/{{disasterID}}" class="btn btn-primary btn-sm" onclick="loading()">View</a></td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td colspan="4">
                            <div class="text-center">
                                <a href="/disasters/list">View more ...</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    const indexNav = {
        createDisaster(){
            loading();
            window.location = '/disaster/new'
        }
    }
</script>


