img.loading{
  margin: calc(50vh - 150px) calc(50vw - 100px);
}
.loading{
  display: none;
}

#bodyContainer{
  margin-top: 40px;
}


#register-showcase {
  background-color: coral;
}

#register-form{
  padding-top: 75px;
}