{{#if disasterData.error}}
	{{disasterData.error}}
{{else}}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4">
			<h2>Disaster Details</h2>
			<hr>
			<p><b>Disaster Type:</b> {{disasterData.type}}</p>
			<p><b>Description:</b> {{disasterData.description}}</p>
			<p><b>Location:</b> {{disasterData.city}}, {{#if disasterData.state}}{{disasterData.state}}, {{/if}}{{disasterData.country}}</p>
			<p><b>Coordinates:</b> {{disasterData.latitude}}, {{disasterData.longitude}}</p>
			<hr>
			<h3>Donation Address</h3>
			<p>
				{{#if disasterData.recipientName}}{{disasterData.recipientName}}<br>{{/if}}
				{{#if disasterData.recipientAddressLine1}}{{disasterData.recipientAddressLine1}}<br>{{/if}}
				{{#if disasterData.recipientAddressLine2}}{{disasterData.recipientAddressLine2}}<br>{{/if}}
				{{disasterData.recipientCity}}, {{disasterData.recipientState}} {{disasterData.recipientPostalCode}}<br>
				{{#if disasterData.recipientCountry}}{{disasterData.recipientCountry}}<br>{{/if}}
			</p>
			<hr>
			<p><a href='/disaster/list'>Back to Disaster List</a></p>
			<p><a href="/donation/addDonation?disaster={{disasterData.disasterID}}">Donate Resources</a></p>

		</div>
		<div class="col-lg-4">
			<h2>Requested Resources</h2>
			<table class="table">
				<thead>
				<tr>
					<th scope="col">Resource</th>
					<th scope="col">Quantity</th>
					<th>Options</th>
				</tr>
				</thead>
				<tbody>
				{{#each requestedResources}}
				<tr>
					<td>{{title}}</td>
					<td>{{quantity}} {{units}}</td>
					<td><a href="/donation/addDonation?disasterID={{disasterID}}&resource={{resourceID}}">Donate</a></td>
				</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
		<div class="col-lg-4">
			<h2>Pledged Donations</h2>
			<table class="table">
				<thead>
				<tr>
					<th scope="col">Resource</th>
					<th scope="col">Quantity</th>
					<th scope="col">Status</th>
					<th scope="col">Donor</th>
				</tr>
				</thead>
				<tbody>
				{{#each donations}}
				<tr>
					<td>Blankets (HARDCODED)</td>
					<td>400 Blankets</td>
					<td>In transit, ETA: 2019-10-07</td>
					<td>Bob Deemer</td>
				</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>



{{/if}}

